<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hzsw.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
				<key>dateExpires</key>
				<string>2024/5/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BadgeSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Presentr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E1447D2419285F113627789B5AB425ED2C5FBCB</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MCX9NAFDFV</string>
						<key>name</key>
						<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MCX9NAFDFV.com.sws.hzsw</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MCX9NAFDFV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hzsw.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>060416ca-c2a5-4647-89dd-836719ce7247</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.sws.hzsw</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MCX9NAFDFV</string>
				<key>name</key>
				<string>Huizhou Sumiden Wiring Systems Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
